{% load static %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static "css/normalize.min.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
    </head>
    <body>

        <div class="header-container">
            <header class="wrapper clearfix">
              <h1 class="title">OpenAM Login Demo</h1>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">
              {% block content %}
              {% endblock %}
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
            </footer>
        </div>
    </body>
</html>
